.card {
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }
  
  .btn {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #e0e0e0;
  }
  